{{#if mensajes}}
  {{#each mensajes}}
     <div>
        <span>{{this.email}}</span>
        <span>[{{this.timestamp}}]: </span>
        <span>{{this.mensaje}}</span>
      </div>
  {{/each}}
{{else}}
<div id="chatHistory">No hay mensajes para mostrar</div>
  <form id="chatForm">
    <label for="mensaje">Chat:<textarea id="mensaje" name="mensaje" rows="1" cols="30" required></textarea></label>
    <input type="submit" value="Enviar mensaje">
  </form>
</div>
{{/if}}
